.root {
    -fx-background-color: #060606;
}

/* Controls Style Effects */
.button#previous {
    -fx-graphic: url("/com/timmy/images/red_orb/playerPrevious.png");
}

.button#fast-rewind {
    -fx-graphic: url("/com/timmy/images/red_orb/playerFastRev.png");
}

.button#play {
    -fx-graphic: url("/com/timmy/images/red_orb/playerPlay.png");
}

.button#stop {
    -fx-graphic: url("/com/timmy/images/red_orb/playerStop.png");
}

.button#fast-forward {
    -fx-graphic: url("/com/timmy/images/red_orb/playerFastFwd.png");
}

.button#next {
    -fx-graphic: url("/com/timmy/images/red_orb/playerNext.png");
}

.button#sound-on {
    -fx-graphic: url("/com/timmy/images/red_orb/soundOn.png");
}

.button#sound-off {

}

/* Library Style Effects */
.button#artists {
    -fx-background-color: transparent;
}

.tool-bar#library-tool-bar {
    -fx-background-color: transparent;

    -fx-border-style: none;
    -fx-border-insets: 10px;
}

/*<a href="http://www.axialis.com/free/icons">Icons</a> by <a href="http://www.axialis.com">Axialis Team</a>*/
